*{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.section1 video{
    width: 100%;
}

.section1{
    position: relative;
}

.section1 div{
    position: absolute;
    color: white;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.section1 h1{
    font-size: 2.8vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.section1 a{
    text-decoration: none;
    color: white;
}

.section1 a:hover{
    color: white;
}

.section1 button{
    font-size: 1.2vw;
    padding: 1vw 2.5vw;
    border: none;
    border-radius: 5px;
    background-color:#750e17;
}

@media (max-width: 600px) {
    .section1 h1{
        font-size: 3.5vw;
        width: 100%;
        margin-bottom: 0vw;
    }
    .section1 button{
        font-size: 1.7vw;
        padding: 2vw 2.5vw;
    }
}

/* //////////////////////////////////////////////////// */

.section2{
    padding: 5% 7%;
    background-image: linear-gradient(black, #750e17 , black);
    color: white;
    font-size: 1.5vw;
}

.section2 .childa,
.section2 .childb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section2 .childa img,
.section2 .childb img{
    width: 40%;
}

.section2 .childa .description,
.section2 .childb p{
    width: 50%;
}

.section2 h1{
    font-size: 2.8vw;
    font-weight: bold;
}

@media (max-width:600px)
{
    .section2 h1{
        font-size: 3.5vw;
    }
    .section2 .childa,
    .section2 .childb{
        margin: 5vw 0px;
        font-size: 2.3vw;
    }
    .section2 .childa img,
    .section2 .childb img{
        width: 50%;
    }
    .section2 .childa .description,
    .section2 .childb p{
        width: 40%;
    }

}

/* //////////////////////////////////////////////////// */

.section3{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5% 7%;
}

.section3 .parent{
    width: 80%;
    background-color: #9a9a9a;
    border-radius: 20px;
    display: flex;
    padding: 5% 5%;
    justify-content: space-between;
    align-items: center;
}

.section3 .child2{
    width: 30%;
    display: flex;
    justify-content: center;
}

.section3 .child2 img{
    width: 90%;
}

.section3 .imgs{
    display: flex;
    justify-content: space-between;    
    width: 90%;
    margin-top: 2vw;
}

.section3 .child1{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.section3 .child1 img{
    width: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.section3 h1{
    font-size: 3.5vw;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width : 600px)
{
    .section3 .parent h1{
        font-size: 4vw;
    }
    .section3 .child2 img{
        width: 100%;
    }    
    .section3 .child1 img{
        width: 70%;
    }
    .section3 .child1 .imgs{
        flex-direction: column;
        align-items: center;
    }
}

/* //////////////////////////////////////////////////// */

.section4{
    background-image: linear-gradient(black, #750e17);
    color: white;
    display: flex;
    font-size: 2.8vw;
    padding: 10% 3%;
    justify-content: space-around;
    align-items: center;
}

.section4 h1{
    font-size: 2.8vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.section4 .rate,
.section4 .buys{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 .rate i{
    font-size: 2.8vw;
}

@media (max-width:600px) {
    .section4 .rate h1,
    .section4 .buys h1{
        font-size: 3.5vw;
    }
    .section4 .rate i{
        font-size: 3.5vw;
    }
    .section4{
        font-size: 3.5vw;
        padding: 20% 3%;
    }
}

.section4 i:hover {
    color: white;
}

.up{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 1vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    background-color: #750e17;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.538);
}

.up a{
    color: white;
}

@media (max-width:600px)
{
    .up{
        font-size: 2vw;
        padding: 2vw;
        bottom: 2%;
        right: 2%;
    }
}