    *{
        font-family: 'Raleway', sans-serif;
    }

    body{
        background-color: black;
        color: white;
    }


    .shape{
        position: absolute;
        top: 50%;
        z-index: -1;
        width: 99vw;
        height: 200px;
        background-image: linear-gradient(black, #9a9a9a, black);
    }    

    .background{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4vw;
        background-image:linear-gradient(#750e17,black);
        width: 35%;
        margin-top: 5vw;
    }

    .checkk{
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .background h1{
        margin-bottom: 20px;
    }

    a:link{
        text-decoration: none;
    }

    a{
        color: #9a9a9a;
    }

    .background div{
        width: 100%;
    }

    .background input:not([type = "checkbox"],[type = "submit"])
    {
        width: 70%;
        border: transparent;
        padding: 10px;
        font-size: 1.2vw;
        color: white;
        outline: none;
        background-color: #9a9a9a50;
        border-bottom: 5px #9a9a9a solid;
    }

    .button1{
        width: 70%;
        padding: 10px;
        border: none;
        background-color: #9a9a9a;
        color: black;
        font-weight: bold;
        font-size: 1.2vw;
        transition: 1s;
        cursor: pointer;
    }

    .button1:hover{
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.5) 0 0 5px 5px ;
    }

    ::placeholder{
        color:white;
        opacity: 0.5;
        text-align: center;
    }

    .Password{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Password input{
        position: relative;
    }

    .Password span{
        position: absolute;
        margin-left: 22vw;
    }

    img{
        width: 10%;
        padding: 10px;
    }

    label,
    a{
        font-size: 1vw;
    }

    @media (max-width:600px) {
        .button1,
        .background input:not([type = "checkbox"],[type="submit"]),
        label,
        a{
            font-size: 2.5vw;
        }
        .background input:not([type = "checkbox"],[type="submit"]){
           border-width: 1px;
        }
        .background input:not([type = "checkbox"]){
            padding: 5px 10px;
            border-bottom-width: 2px;
        }
        input[type="checkbox"]{
            width: 2.5vw;
        }
        h1{
            font-size: 4vw;
        }
        img{
            padding: 5px;
            width: 15%;
        }
        .background{
            width: 70%;
            margin-top: 10vw;
            padding: 5vw 4vw;
        }
        .Password span{
            font-size: 2.5vw;
            margin-left: 40vw;
        }
        .shape{
            top: 30%;
            height: 150px;
        }
    }
