*{
    margin:0px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}

body{
    background-color: black;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 15% 10%;
}

section .imgg{
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-bottom: -7vw;
}

section .imgg img{
    width: 25vw;
}

.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #750e17;
    z-index: 10;
    padding: 10vw 4vw 4vw;
}

.container .radios{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.container .radios input[type="radio"]:checked{
    border: 5px solid white;
    box-shadow: rgba(255, 255, 255, 0.445) 0 0 5px 5px ;
}

.container .radios input[type="radio"]::after{
    content: attr(data-id);
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.container .radios input[type="radio"]{
    appearance: none;
    position: relative;
    width: 8vw;
    height: 5vw;
    background-color: rgba(255, 255, 255, 0.484);
    border-radius: 10px;
    transition: 1s;
}

.container .radios input[type="radio"]:hover{
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.445) 0 0 5px 5px ;
}

.container form{
    width: 90%;
}

.container .parent{
    margin: 2vw;
}

.container .parent2{
    display: flex;
    justify-content: space-between;
}

.container .parent2 div{
    width: 45%;
}

.parent2 div input,
.full{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #9a9a9a50;
    border-bottom: 4px solid #9a9a9a;
    font-size: 1.2vw;
    outline: none;
    color: white;
}

input[type="submit"]{
    width: 50%;
    padding: 15px;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
}

input[type="submit"]:hover{
    box-shadow: rgba(255, 255, 255, 0.445) 0 0 5px 5px ;
}

::placeholder{
    color: white;
    opacity:0.5;
}

.shape{
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    z-index: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(black, #9a9a9a, black);
}

.up{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 1vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    background-color: #750e17;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.538);
}

.up a{
    color: white;
}

@media (max-width:600px){
   section{
        padding: 30% 10%;
    }
    section .imgg img{
        width: 38   vw;
    }
    .container{
        width: 70%;
        padding-top: 12vw;
    }
    .container .radios{
        width: 50%;
    }
    
    .container .radios input[type="radio"]:checked{
        border: 2px solid white;
        box-shadow: rgba(255, 255, 255, 0.445) 0 0 5px 3px ;
    }
    
    .container .radios input[type="radio"]::after{
        font-size: 2vw;
    }
    
    .container .radios input[type="radio"]{
        width: 12vw;
        height: 8vw;
    }   
    .container form{
        width: 90%;
        margin-right: 4vw;
    }
    .container .parent{
        margin: 3vw;
    }    
    .container .parent2 div{
        width: 43%;
    }
    .parent2 div input,
    .full{
        padding: 5px 10px;
        border-bottom-width: 2px;
        font-size: 2.5vw;
        outline-width: 1px;
    }    
    input[type="submit"]{
        padding: 5px 10px;
    }    
    .up{
        font-size: 2vw;
        padding: 2vw;
        bottom: 2%;
        right: 2%;
    }
    .shape{
        height: 150px;
        top: 30%;
    }
}
