body{
    background-color: black;
    color: white;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}  

section{
  padding: 15% 10%;
}

.first2,
.second2,
.third{
    width: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    background-image:radial-gradient(#750e17 10%,black);
}

.mission,
.vision{
  width: 50%;
  font-size: 1.6vw;
  font-style: italic;
}

.first2 img,
.second2 img,
.third img{
  width: 22vw;
  animation: pulse 2s infinite;
}

@media (max-width : 600px) {
  .mission,
  .vision{
    font-size: 3vw;
    width: 40%;
  }
  .first2 img,
  .second2 img,
  .third img{
    width: 35vw;
  }
  .first2,
  .second2,
  .third{
    margin-top: 10vw;
  }
  .third{
    padding: 5vw 0px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.up{
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 1vw;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1vw;
  background-color: #750e17;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.538);
}

.up a{
  color: white;
}

@media (max-width:600px)
{
  .up{
      font-size: 2vw;
      padding: 2vw;
      bottom: 2%;
      right: 2%;
  }
}
